body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 22, 211, 0.705);
    overflow-x: hidden;
}

.output{
    font-weight: bold;
}
section{
    padding: 2rem 0;
}

#section-ticket{
    position: relative;
    left: -100%;
    transition: all .2s;

}

.svg-box{
    height: 200px;
    position: relative;
    left: -100%;
    transition: all .2s;
    
}
#Livello-2{
    opacity: 0;
    transition: all 10s;
}
#Livello-3{
    opacity: 0;
    transition: all 3s;
}